:root {
    --container-size: 512px;
}

* {
    font-family: "Verdana", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #e5e5e5;
}

h1 {
    text-align: center;
    font-size: 64px;
    margin: 64px 0;
}

.main {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    width: var(--container-size);
    height: var(--container-size);
}

.tile {
    background-color: white;
    flex: auto;
    transition: background-color 0.125s ease;
}

.tile-section {
    flex: auto;
    display: flex;
}

.clear-button {
    border: #14213d solid 1px;
    border-radius: 8px;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.slider-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

button.active {
    background-color: lightgrey;
}

.buttons button {
    padding: 4px 16px;
    font-size: 16px;
}