:root {
    --container-size: 768px;
    --tile-size: 48px;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 32px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: var(--container-size);
    height: var(--container-size);
}

.tile {
    background-color: black;
    width: var(--tile-size);
    height: var(--tile-size);
    transition: background-color 0.125s ease;
}

.tile.active {
    background-color: white;
}