:root {
    --container-size: 680px;
    --tile-size: 40px;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: var(--container-size);
}

.tile {
    background-color: red;
    width: var(--tile-size);
    height: var(--tile-size);
    margin: 1px;
    transition: background-color 0.125s;
}

.tile.active {
    background-color: blue;
}